*{
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
    position: relative;
}
body{
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1{
color: aliceblue;


}
span{
    color: aquamarine;
}
.nav{
 position: absolute;
 top: 0;
 right: 0;


}
.nav ul{
    list-style: none;
    display: flex;
    font-size: 20px;
}
.nav a{
    padding: 15px;
    text-decoration: none;
    color:aliceblue;
    }
.container1{
 
 
    
}
.content1{
    display: none;
    position: absolute;
    background-color: rgba(208, 208, 255, 0.411);


}
.content1 a{
    display: block;
}
.container1:hover .content1{

display: block;

}
.content1{
    display: none;


}
.container2{
 
  
  
}
.content2{
    display: none;
    position: absolute;
    background-color: rgba(208, 208, 255, 0.411);

}
.content2 a{
    display: block;
}
.container2:hover .content2{

display: block;

}
.container4{

 
}
.content4{
    display: none;
    position: absolute;
    background-color: rgba(208, 208, 255, 0.411);

}
.content4 a{
    display: block;
}
.container4:hover .content4{

display: block;

}
.content3{
    display: none;
    position: absolute;
    background-color: rgba(208, 208, 255, 0.411);

}
.content3 a{
    display: block;
}
.container3:hover .content3{

display: block;

}
.nav a:hover{

    background-color: rgb(174, 235, 253);
    color: black;
}
.down1:hover .d1contents{
    display: block;



}
.d1contents{

    display: block;
    position: absolute;
    margin-left: 172px;
    margin-top: -60px;
    background-color: rgba(208, 208, 255, 0.411);
  display: none;
}
.d2contents{

    display: block;
    position: absolute;
    margin-left: 145px;
 margin-top: -60px;
    background-color: rgba(208, 208, 255, 0.411);
  display: none;
}
.down1:hover .d2contents{
    display: block;
   
}